.detail {
    .sliders {
        float: left;
        padding: 20px;
        width: 500px;

        display:inline-block;
        .category {
            margin-top: 20px;
            padding-left: 30px;
            padding-right: 30px;

            .rc-slider-handle {
                margin-top: -7px;
                width: 18px;
                height: 18px;
            }
        }
        
    }

    .charts {
        display:inline-block;
        min-height: 800px;
        min-width: 600px;
        .donutchart {
            min-height: 500px;
        }
    }
}
