@import "colors.scss";
@import "fonts.scss";
@import "commons.scss";

.detail {
  background: white;
  margin-top: 80px;
  min-height: 700px;

  .charts {
    display: inline-block;
    min-height: 500px;
    min-width: 600px;
    width:70%;
    .tabsButtonList {
      display: flex;

      .tabButton {
        text-align: center;
        margin-right:3px;
        bottom: 0;
        padding: 10px;
        width: 200px;
        height: 40px;
        list-style: none;
        border-bottom: 1px solid $grey1;

        &.react-tabs__tab--selected {
          border-bottom: 1px solid $blue2;
        }
      }
    }

    .labelsForChart{
      font-size:19px;
      fill:$grey1;
    }
    .donutchart {
      min-height: 500px;
    }
  }
}
