@import "colors.scss";
@import "fonts.scss";
@import "commons.scss";

.header {
    margin: 20px;
    position: absolute;
    top: 0;
    width: 95%;
    left: 0;
    z-index: 100;
    .dropdownLanguage{
        width:130px;
        z-index:10 !important;
        &>.Dropdown-menu{
            margin-top:-21px;
        }
    }
    &__logo {
        width: 300px;
    }

    .navItem {
        cursor: pointer;
    }

    .login {
        border: 1px solid white;
        padding: 20px;
    }

    &__navBar {
        display: -webkit-inline-box;
        float: right;
        right: 10px;
        margin-left: 30px;

        .rc-menu {
            margin-bottom: 0px;
            margin-top: 0px;
            border: none;
            background: none;
            font-family: 'Source Sans Pro', sans-serif !important;

            .rc-menu-submenu-title {
                padding: 10px;
                font-family: 'Source Sans Pro', sans-serif !important;
            }

            .rc-submenu-active,
            .rc-submenu-open {
                background: none;
                font-family: 'Source Sans Pro', sans-serif !important;
            }

            .rc-menu-item-selected,
            .rc-menu-item-active {
                background-color: grey;
                font-family: 'Source Sans Pro', sans-serif !important;
            }

            color: white !important;
        }

        .navItem {
            margin: 3px;
            margin-left: 30px;

            .buttonText {
                padding: 10px;
            }
        }

        font-family: 'Source Sans Pro', sans-serif !important;
    }
}
