@import 'colors.scss';
@import 'fonts.scss';
@import 'commons.scss';

.questions{
    .descriptionContainer{
        width:50%;
        float:left;
    }
    .questionsContainer{
        right:30;
        padding-right: 200px;
        float:right;
        .question{
            font-family: 'SourceSansPro-Bold';
            padding-top:10px;
            padding-bottom:10px;
        }
        .answer{
            font-family: 'Source Sans Pro', sans-serif !important;
            &.radioButton{
                .rw-list{
                    display:inline-flex;
                    margin-top:0;
                    margin-bottom:0;
                    .rw-list-option{
                        padding-left:15px;
                        list-style: none;
                    }
                }

            }
            &.dropdownList{
                .rw-popup-container .rw-popup-animating{

                }
                .rw-input{
                    background: #90C8FF;
                    border: none;
                    font-size: 15px;
                    height: 20px;
                    padding: 5px;
                    padding-top:10px;
                    width: 100%;
                    text-transform:uppercase;
                    color: #FFF;
                    -webkit-appearance: none;
                }
            }
            &.numberPicker{
                padding-bottom: 20px;
                width:100%;
                float:right;
                input{
                    background: #90C8FF;
                    float:left;
                    border: none;
                    font-size: 15px;
                    height: 20px;
                    padding: 5px;
                    width: 80%;
                    color: #FFF;
                    -webkit-appearance: none;
                }
                .rw-select{
                    display: block;
                    right:30px;
                    float:right;
                    .rw-btn{
                        height: 20px;
                        display:block;
                        width: 50px;
                    }
                }
            }

        }
        .getReportButton{

            background-color: #6CC23E;
            border: none;
            border-radius: 8px;
            padding: 0.5em 1em;
            font-size: 21px;
            cursor: pointer;
            font-weight: bold;
        }
    }
}
